@import url('../../styles/_variaveis.css');

input{
    width: 100%;
    border-radius: 4px;
    height: 2em;
    border: none;
}

.label-relative {
    display: flex;
    position: relative;
}

label {
    position: absolute;
    font-size: 0.8em;
    color: var(--azul-escuro);
    left: 0.5em;
    bottom: 0.5em;
}

input:focus + label {
    display: none;
}
