.drink_name_title {
    padding-bottom: 40px;
}


@media only screen and (max-width: 900px) {
    .drink_name_div {
        width: 100%;
    }

    .drink_name_title {
        width: 100%;
        margin-top: 0.5em;
    }

    .drink_name_input {
        width: 80%;
    }
}