@import-normalize;
@import "_variaveis.css";

body {
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(var(--azul-escuro), var(--azul-claro));
    box-sizing: border-box;
    font-family: var(--fonte-normal);
    color: var(--cor-do-texto);
}

ul {
  padding-left: 0;
}

h1 {
  font-family: var(--fonte-bold);
  font-size: 4em;
  color: var(--rosa);
  margin-right: 1em;
}

h2 {
  color: var(--rosa);
  font-size: 2em;
  font-weight: 700;
  margin-top: 1em;
  text-transform: uppercase;
}

h3 {
  color: var(--roxo);
  text-transform: uppercase;
  margin: 1.5em 0 1em 0;
}

  @font-face {
    font-family: "GandhiSansRegular";
    src: local("GandhiSansRegular"), 
    url("../assets/fonts/GandhiSans-Regular.otf")
    format("truetype");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "GandhiSansBold";
    src: local("GandhiSansBold"), 
    url("../assets/fonts/GandhiSans-Bold.otf")
    format("truetype");
    font-weight: 700;
    font-display: swap;
  }