@import url('../../styles/_variaveis.css');

.drink_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.drink_header {
    display: flex;
    width: 100%;
}

.drink_name {
    width: 60%;
    margin-bottom: 1em;
}

.cost_div {
    width: 40%;
    margin-bottom: 1em;
}

.drink_datasheet {
    width: 50%;
    margin-right: 4em;
}

.list {
    list-style: none;
}

.list li {
    margin-bottom: 1em;
}

.step_li_item {
    display: flex;
}

.ingredients_row {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.amount_column {
    width: 8%;
}

.measure_unit_column {
    width: 8%;
}

.ingredient_column {
    width: 40%;
}

.cost_column {
    width: 9%;
}

.drink_image {
    width: 40%;
    height: 40em;
    align-self: center;
    object-fit: cover;
    border-radius: 20px;
    margin: 2em 0;
}

.decoration_row {
    display: flex;
    align-items: baseline;
    gap: 3em;
}

.decoration_title {
    width: 20%;
    margin-right: 2em;
}

.highlight {
    font-size: 1.2em;
    color: var(--rosa);
    margin: 0 1em 1.5em 1em;
}

@media only screen and (max-width: 900px) {
    .drink_page {
        display: block;
    }

    .drink_datasheet {
        width: 100%;
    }

    .drink_image {
        width: 100%;
    }
}

@media only screen and (max-width: 730px) {
    .drink_header {
        display: block;
    }

    .cost_div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        
    }
}