.card {
    margin: 2em;
    padding: 1em 2em;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}

.block {
    display: flex;
    justify-content: space-around;
}

.input-button-align {
    display: flex;
    gap: 0.3em;
}

.drink-photo {
    width: 40%;
    object-fit: contain;
    
}

ul {
    padding-left: 0;
}

h1 {
    font-family: var(--fonte-bold);
    font-size: 4em;
    color: var(--rosa);
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 2em;
}

h3 {
    color: var(--roxo);
    text-transform: uppercase;
    margin-bottom: 1.5em;
}
