@import url('../../styles/_variaveis.css');

.delete_btn {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: var(--vermelho);
    color: var(--cor-de-texto);
    text-align: center;
    font-weight: 700;
}

@media only screen and (max-width: 690px) {
    .delete_btn {
        right: -1em;
    }
}