@import url('styles/_variaveis.css');

.steps_list {
    position: relative;
    list-style: none;
    margin-bottom: 1.5em;
}

.step_prefix {
    color: var(--rosa);
    font-weight: 500;
    text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
    .input label{
        font-size:0.6em;
    }

}

@media only screen and (max-width: 500px) {
    .steps_list {
        font-size: 0.8em;
    }
}