.drink_header_image {
    width: 12em;
    height: 8em;
    margin: 0 3em 2em 0;
    object-fit: cover;
    border-radius: 20px;
}

@media only screen and (max-width: 900px) {
    .collection_datalist_div {
        width: 100%;
        text-align: center;
    }

    .drink_header_image{
        width: 50%;
        height: 10em;
        object-fit: cover;
    }
}