@import url('../../styles/_variaveis.css');

.new_collection {
    width: 15em;
    height: 16em;
    border-radius: 20px;
    padding: 0.2em 1em 1em 1em;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.fileInput {
    color: var(--cor-do-texto);
}

.input {
    margin: 1.2em 0;
}

.button {
    padding: 0;
    font-size: 1em;
    width: 90%;
    height: 4em;
}

.fileSelectionArea {
    position: relative;
}

.image {
    display: none;
}

@media only screen and (max-width: 700px) {
    .new_collection {
        width: 85%;
    }
}

@media only screen and (max-width: 440px) {
    .new_collection {
        height: 80%;
        width: 85%;
        margin: 20px 10px 0 20px;
    }

    .input {
        margin-bottom: 2.5em;
    }

    .button {
        margin-top: 2em;
    }

}

@media only screen and (max-width: 340px) {

    .input {
        font-size: 0.8em;
    }

    .button {
        margin-top: 3em;
    }

}