.card {
    margin: 2em;
    padding: 1em 2em;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}

.preparation_and_drink_photo_block {
    display: flex;
    justify-content: space-around;
}

.input_button_align {
    display: flex;
    gap: 0.3em;
}

.input_button_align :first-child {
    flex-grow: 1;
}

.submit_button {
    padding: 2em 1em;
    margin-left: 2em;
}

@media only screen and (max-width: 900px) {
    .preparation_and_drink_photo_block {
        display: block;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 700px) {
    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

}